body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header{
    background: url('/images\ \(36\).jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

/* Layout */
.container{
    display: flex;
}

/* Sidebar */
.sidebar{
    width: 20%;
    background: #f4f400;
    padding: 20px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    margin: 15px 0;
}

.sidebar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Content */
.content{
    width: 80%;
    background: #d6d6ff;
    padding: 30px;
}


/* Table Style */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000;
}

th {
    background-color: #2980b9;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Notice Box */
.notice-box {
    background-color: #f9f9f9;
    border-left: 5px solid #2980b9;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.notice-box h3 {
    margin: 0 0 10px 0;
    color: #2980b9;
}
/* Footer */
.footer{
    background: #000033;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer img {
    width: 80px;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}
